{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular",
                "printWidth": 120
            }
        }
    ]
}