<section class="summary-section">
  <h2>Voulez-vous sauvegarder ce personnage ?</h2>

  <ul class="main-list">
    <li><strong>Nom :</strong> {{ character.name }}</li>
    <li><strong>Origine :</strong> {{ character.origin?.nom }}</li>
    <li>
      <strong>S.P.E.C.I.A.L.</strong>
      <ul>
        @for (stat of stats; track $index) {
          @if (character.special != undefined) {
            <li>{{ stat.label }} : {{ character.special[stat.key] }}</li>
          }
        }
      </ul>
    </li>
    <li>
      <strong>Compétences</strong>
      <ul>
        @for (skill of skills; track $index) {
          @if (character.skills != undefined) {
            <li>
              {{ skill.label }} :
              @if (character.skills[skill.key].taggedSkill) {
                <span class="star-tag">★</span>
              }
              {{ character.skills[skill.key].rank }}
            </li>
          }
        }
      </ul>
    </li>
  </ul>
</section>
