<div class="save-character-container">
  <!-- ZONE QUI DÉFILE (Récapitulatif des caractéristiques) -->
  <div class="scrollable-content">
    <section class="summary-section">
      <h2>Voulez-vous sauvegarder ce personnage ?</h2>

      <ul class="main-list">
        <li><strong>Nom :</strong> {{ character.name }}</li>
        <li><strong>Origine :</strong> {{ character.origin?.nom }}</li>
        <li>
          <strong>S.P.E.C.I.A.L.</strong>
          <ul>
            @for (stat of stats; track $index) {
              @if (character.special != undefined) {
                <li>{{ stat.label }} : {{ character.special[stat.key] }}</li>
              }
            }
          </ul>
        </li>
        <li>
          <strong>Compétences</strong>
          <ul>
            @for (skill of skills; track $index) {
              @if (character.skills != undefined) {
                <li>
                  {{ skill.label }} :
                  @if (character.skills[skill.key].taggedSkill) {
                    <span class="star-tag">★</span>
                  }
                  {{ character.skills[skill.key].rank }}
                </li>
              }
            }
          </ul>
        </li>
      </ul>
    </section>
  </div>

  <!-- ZONE FIXE EN BAS (Boutons toujours visibles) -->
  <footer class="actions-footer">
    <button class="btn" (click)="previousStep()">Précédent</button>
    <button class="btn" (click)="saveCharacter()">Oui</button>
    <button class="btn btn-secondary" (click)="cancel()">Non</button>
  </footer>
</div>
