<div class="pipboy-box">
  <div class="pipboy-header">
    <span class="symbol">></span> REGISTRE DES HABITANTS DES TERRES DÉSOLÉES (AMIS)
  </div>

  @if (friendshipService.friends().length === 0) {
    <p class="empty-msg">AUCUN CONTACT REGISTRÉ DANS LA BASE DE DONNÉES.</p>
  } @else {
    <ul class="pipboy-list">
      @for (friend of friendshipService.friends(); track friend.friendshipId) {
        <li class="pipboy-list-item">
          <div class="friend-info">
            <span class="status-indicator">●</span>
            <span class="pipboy-name">{{ friend.friendUsername }}</span>
          </div>
          <span class="pipboy-badge">[ CONTACT LIKÉ ]</span>
        </li>
      }
    </ul>
  }
</div>
