<div class="select-wrapper">
  <label for="origin">Origine</label>
  <select id="origin" [(ngModel)]="origin">
    @for (possibleOrigin of possibleOrigins; track $index) {
      <option [ngValue]="possibleOrigin">
        {{ possibleOrigin.nom }}
      </option>
    }
  </select>
</div>

@if (origin) {
  <section class="container">
    <article class="history details">
      <h2>Détails de l'origine : {{ origin.nom }}</h2>
      @for (line of origin.histoire; track $index) {
        <p>{{ line }}</p>
      }
    </article>

    <aside class="bonuses">
      @if (originDetails.length) {
        @for (detail of originDetails; track $index) {
          <app-origin-detail [title]="detail.label" [items]="detail.description">
          </app-origin-detail>
        }
      } @else {
        <p>Aucun détail disponible pour cette origine.</p>
      }
    </aside>
  </section>
}
