<div class="terminal">
  @for (line of lines(); track $index) {
    <div>{{ line }}</div>
  }

  @if (choices() != null && choices().length > 0) {
    @for (choice of choices(); track choice.key) {
      <div>{{ choice.key }} : {{ choice.value }}</div>
    }
  }

  <div class="prompt">
    {{ promptLabel() }}
  </div>
</div>

<div class="input-bar">
  <input
    #inputBar
    class=""
    [value]="inputValue()"
    (input)="inputValue.set($any($event.target).value)"
    (keyup.enter)="submit()"
    autofocus
  />
  <button (click)="submit()">OK</button>
</div>
